<form [formGroup]="myform" class="form form-register" (ngSubmit)="onSubmit()">
    
    <div class="form-group row">
        <input type="text"  formControlName="projectId" class="form-control" [hidden]="true">
        <input type="text"  formControlName="userId" class="form-control" [hidden]="true">

        <input type="text" placeholder="Parent Id" formControlName="parentTaskId" class="form-control" [hidden]="true">
    </div>
          <div class="form-group row">
              <label for="projectName" class="col-sm-2 col-form-label">Project:</label>
              <div class="col-sm-4">
                  <input type="text" placeholder="Project is mandatory" formControlName="projectName" class="form-control" [readonly]=true >
                  <div *ngIf="isSubmitted && formControls.projectName.errors" class="help-block">
                      <div *ngIf="formControls.projectName.errors.required" >Project is required </div>
              </div>
            </div>
            <div class="col-sm-1">
                <button class="btn btn-primary" type="button" disabled (click)="searchProject()">Search</button>
          </div>
          </div>
           

          <div class="form-group row">
              <label for="taskName" class="col-sm-2 col-form-label">Task:</label>
              <div class="col-sm-5">
                  <input type="text" placeholder="Task is mandatory" formControlName="task" class="form-control" >
                  <div *ngIf="isSubmitted && formControls.task.errors" class="help-block">
                      <div *ngIf="formControls.task.errors.required" >Task is required </div>
              </div>
            </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2">
                </div>
            <div class="form-check col-sm-1" >          
                <input class="form-check-input" disabled type="checkbox" id="isParent" formControlName="isParent" (change)="disableFields()">
                <label class="form-check-label " for="isParent">Parent Task: </label>

              </div>
           
            </div>
          <div class="form-group row">
              <label for="priority" class="col-sm-2 col-form-label">Priority:</label>
              <div class="col-sm-2">
                  <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1" min="0" max="30" name = "priority" formControlName="priority"></mat-slider>
                          
           
              </div>
              <div class="col-sm-5"></div>
          
            </div>

            <div class="form-group row">
                <label for="parentTask" class="col-sm-2 col-form-label">Parent Task:</label>
                <div class="col-sm-4">
                    <input type="text"  formControlName="parentTask" class="form-control" [readonly]=true >
                    
              </div>
              <div class="col-sm-1">
                  <button class="btn btn-primary" type="button" [disabled]='checkPolicy' (click)="searchParentTask()">Search</button>
            </div>
</div>
            <div class="form-group row">
             
                <label for="startDate" class="col-sm-2 col-form-label">Start Date:</label>

                <div class="col-sm-2 col-md-2">
                    <input matInput [matDatepicker]="startDatepicker" [readonly]=true  placeholder="Start Date:" name="startDate" formControlName="startDate" class="form-control">
                    <mat-datepicker-toggle matSuffix [for]="startDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #startDatepicker></mat-datepicker>
                  
                </div>
                <label for="endDate" class="col-sm-1 col-form-label">End Date:</label>

                <div class="col-sm-2 col-md-2">
                    <input matInput [matDatepicker]="endDatepicker" [readonly]=true placeholder="End Date:" name="endDate" formControlName="endDate" class="form-control">
                          <mat-datepicker-toggle matSuffix [for]="endDatepicker"></mat-datepicker-toggle>
                          <mat-datepicker #endDatepicker></mat-datepicker>
                          <div *ngIf="isSubmitted && formControls.endDate.errors" class="help-block">
                             
                          <div *ngIf="formControls.endDate.errors.CompareDate">End Date Must be greater than start date</div>
          
                </div>
              </div>
            </div>

            <div class="form-group row">
                <label for="user" class="col-sm-2 col-form-label">User:</label>
                <div class="col-sm-4">
                    <input type="text"  formControlName="userName" class="form-control" [readonly]=true >
                    
              </div>
              <div class="col-sm-1">
                  <button class="btn btn-primary" type="button"  (click)="searchUser()">Search</button>
            </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-3"></div>
        
                <div class="col-sm-1">
                        <button type="submit" class="btn btn-primary">Update</button>
                </div>
                <div class="col-sm-1">

              <button type="button" (click)="cancel()" class="btn btn-primary">Cancel</button>
        
          
                  </div>
                  <div class="col-sm-.5">
                    </div>
                  <div class="col-sm-1">
        
                    </div>
                
              </div>
</form>