

<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <b>Project Manager</b>
                </li>
        </ul> 
        </div>
    
  <div class="collapse navbar-collapse" id="navbarCollapse">
     
    <ul class="navbar-nav mr-auto">

     
      <li class="nav-item">
        <a class="nav-link" routerLink="/add-project">Add Project</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add-task">Add Task</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add-user">Add User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/view-task">View Task</a>
      </li>

    </ul>
  </div>
</nav>
