

  <div class="container">
      <table >
          <tbody>
          <tr>
              <td> <input [(ngModel)]="taskSearch" placeholder="Search by task.." class="advancedSearchTextbox">
              </td>
              <td><input [(ngModel)]="parentSearch" placeholder="Search by parent task.." class="advancedSearchTextbox"></td>
              <td>    <input [(ngModel)]="prioritySearch" placeholder="Search by priority.." class="advancedSearchTextbox">
              </td>
          </tr>
          <tr>
              <td>      <input [(ngModel)]="startDateSearch" placeholder="Search by start date.." class="advancedSearchTextbox">
              </td>
              <td>    <input [(ngModel)]="endDateSearch" placeholder="Search by end date.." class="advancedSearchTextbox">
              </td>
              
            </tr>
          </tbody>
          </table>
      



      <p></p>
      <table class="table table-hover">
      <thead>
        <tr>
          <th class="hidden">Id</th>
          <th>Task</th>
          <th>Parent</th>
          <th>Priority</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let task of tasks | filter: {priority: prioritySearch} | taskFilter: {task: taskSearch} | startDateFilter: {startDate: startDateSearch} | endDateFilter: {endDate: endDateSearch} | parentFilter: {parentTask : parentSearch};">
          <td class="hidden">{{task.id}}</td>
          <td>{{ task.task }}</td>
          <td> {{ task.parent.parentTask }}</td>
          <td> {{ task.priority }}</td>
          <td>{{ task.startDate }}</td>
          <td>{{ task.endDate }}</td>
          <td>  
              <div *ngIf="task.endDate">
            <button class="btn btn-primary" (click)="editTask(task)" disabled> Edit </button>
          </div>
          <div *ngIf="!task.endDate">
              <button class="btn btn-primary" (click)="editTask(task)" > Edit </button>
            </div>
          </td>
          <td>
              <div *ngIf="task.endDate">
                  <button class="btn btn-primary" (click)="endTask(task)" disabled> End Task </button>
                </div>
                <div *ngIf="!task.endDate">
                    <button class="btn btn-primary" (click)="endTask(task)" > End Task </button>
                  </div>

          </td>

        </tr>
      </tbody>
    </table>
  </div>
  