<form [formGroup]="projectForm" class="form form-register" (ngSubmit)="onAddSubmit(projectForm)" >
    
    <div class="form-group row">
        <input type="text" placeholder="Project Id" formControlName="projectId" class="form-control" [hidden]="true">
        <input type="text" placeholder="User Id" formControlName="userId" class="form-control"  [hidden]="true">

          </div>
          <div class="form-group row">
              <label for="projectName" class="col-sm-2 col-form-label">Project:</label>
              <div class="col-sm-7">
                  <input type="text" placeholder="Project is mandatory" formControlName="projectName" class="form-control" >
                  <div *ngIf="isSubmitted && formControls.projectName.errors" class="help-block">
                      <div *ngIf="formControls.projectName.errors.required" >Project is required </div>
              </div>
            </div>
            </div>
  <div class="form-group row">
      <div class="col-sm-2 col-md-2"></div>      
      <div class="col-sm-2 col-md-2">
          <div class="form-check">          
              <input class="form-check-input" [checked]= false type="checkbox" id="setDate" formControlName="setDate" (change)="enableDate()">

            <label class="form-check-label" for="setDate">Set Start and End Date: </label>
         </div>
      </div>
      <div class="col-sm-1 col-md-1"></div>

      <div class="col-sm-2 col-md-2">
          <input matInput [matDatepicker]="startDatepicker" [readonly]=true  placeholder="Start Date:" name="startDate" formControlName="startDate" class="form-control">
          <mat-datepicker-toggle matSuffix [for]="startDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatepicker></mat-datepicker>
        
      </div>
      <div class="col-sm-2 col-md-2">
          <input matInput [matDatepicker]="endDatepicker" [readonly]=true placeholder="End Date:" name="endDate" formControlName="endDate" class="form-control">
                <mat-datepicker-toggle matSuffix [for]="endDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #endDatepicker></mat-datepicker>
                <div *ngIf="isSubmitted && formControls.endDate.errors" class="help-block">
                   
                <div *ngIf="formControls.endDate.errors.compareDate">End Date Must be greater than start date</div>

      </div>
    </div>
  </div>
   
  <div class="form-group row">
    <label for="priority" class="col-sm-2 col-form-label">Priority:</label>
    <div class="col-sm-5">
        <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1" min="0" max="30" name = "priority" formControlName="priority"></mat-slider>
                
 <div *ngIf="isSubmitted && formControls.priority.errors" class="help-block">
           <div *ngIf="formControls.priority.errors.required">Priority is required</div>
        </div>
    </div>

  </div>
  <div class="form-group row">
      <label for="manager" class="col-sm-2 col-form-label">Manager</label>
      <div class="col-sm-6">
          <input type="text" placeholder="Select search to populate" formControlName="manager" class="form-control" [readonly]=true>
            <div *ngIf="isSubmitted && formControls.manager.errors" class="help-block">
            <div *ngIf="formControls.manager.errors.required">Manager is required</div>
          </div>
      </div>
      <div class="col-sm-1">
      <button class="btn btn-primary" type="button" (click)="searchUser()">Search</button>
</div>

    </div>
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col-sm-5"></div>

        <div class="col-sm-1">
            <div *ngIf="!showActions">
                <button type="submit" class="btn btn-primary">Add</button>
              </div>
             <div *ngIf="showActions">
      <button type="submit" class="btn btn-primary">Update</button>

  
             </div>          
          </div>
          <div class="col-sm-.5">
            </div>
          <div class="col-sm-1">
              <button type="submit" class="btn btn-primary" (click)="onClear()">Reset</button>

            </div>
        
      </div>
      
</form>

<span>
    

    <div class="col-sm-5">
        <input size="70" [(ngModel)]="projectSearch" placeholder="Search..." class="advancedSearchTextbox">
    </div>
</span>

<div class="table-responsive">

<table >
    <tbody>
   
     <tr>
       <td style = "padding: 20px;">Sort By :</td>
        <td   style = "padding: 20px;" >  <button class="btn btn-primary" (click)="sort('startDate')">Start Date </button>  </td>
        <td style = "padding: 20px;">  <button class="btn btn-primary" (click)="sort('endDate')">End Date </button>  </td>
        <td style = "padding: 20px;">  <button class="btn btn-primary" (click)="sort('priority')">Priority </button> 
          <td style = "padding: 0px;">  <button class="btn btn-primary" (click)="sort('completedTask')">Completed </button> 
     </tr>
    
    </tbody>
    </table>
  </div>
    <div class="table-responsive">

    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Project Name</th>
            <th scope="col">No of Tasks</th>
            <th scope="col">Completed </th>
            <th scope="col">Start Date </th>
            <th scope="col">End Date </th>
            <th scope="col">Priority </th>
            <th></th>
            <th></th>


            
          </tr>
        </thead>
        <tbody>
            
    
    
        <tr *ngFor="let project of projects | userFilter: {startDate: projectSearch,endDate: projectSearch,priority: projectSearch,projectName: projectSearch,totalTask: projectSearch, completedTask:projectSearch} | orderBy: {property: column, direction: direction}; let i = index">
            <td>{{project.projectName}}</td>
            <td>{{project.totalTask}}</td>
            <td>{{project.completedTask}}</td>
            <td>{{project.startDate}}</td>
            <td>{{project.endDate}}</td>
            <td>{{project.priority}}</td>


            <td>  
              <button class="btn btn-primary" (click)="editProject(project,i)" > Update </button>                 
                
              </td>
              <td><button class="btn btn-primary" (click)="delProject(project,i)"> Suspend </button>
              
            </td>
           
    
          </tr>
        </tbody>
      </table>
      </div>

